<a href="https://colab.research.google.com/github/vgaurav-umich/siads592/blob/master/get_covid19_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Covid-19 Datasets
This Notebook will download required covid-19 datasets.

We will be getting Covid-19 datasets from variety of sources incl.
1. [New York Times](https://github.com/nytimes/covid-19-data)
2. [Covid Tracking Project from The Atlantic](https://covidtracking.com/race)

In [0]:
import pandas as pd
import numpy as np

## Purpose

The purpose of this notebook is to download factual data about COVID-19 infections and deaths. 

The NYT data file will give us county level death and infection data. File is updated Daily and contains cumulative counts of cases.

**Note about Live Data**

NYT provides two sets of data with cumulative counts of coronavirus cases and deaths: one with our most current numbers for each geography and another with historical data showing the tally for each day for each geography.

Turning live indicator will force this notebook to fetch live data. Deafult is False. A key difference between the historical and live files is that the numbers in the historical files are the final counts at the end of each day, while the live files have figures that may be a partial count released during the day but cannot necessarily be considered the final, end-of-day tally.

## Download NYT Data 

**US County level deaths and infection cases cumulative count**


**Note from NYT Team** 

> Each row of data reports the cumulative number of coronavirus cases and deaths based on our best reporting up to the moment we publish an update. Our counts include both laboratory confirmed and probable cases using criteria that were developed by states and the federal government. Not all geographies are reporting probable cases and yet others are providing confirmed and probable as a single total. Please read here for a full discussion of this issue.

> We do our best to revise earlier entries in the data when we receive new information. If a county is not listed for a date, then there were zero reported confirmed cases and deaths.

> State and county files contain FIPS codes, a standard geographic identifier, to make it easier for an analyst to combine this data with other data sets like a map file or population data.

### Download

In [0]:
# indicator to store live status of data pull
live_data_ind = False #@param {type:"boolean"}

if live_data_ind == False:
  nyt_covid19_county_data_file_path = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv" #@param {type:"raw"}
else:
  nyt_covid19_county_data_file_path = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us-counties.csv" #@param {type:"raw"}

In [0]:
def read_file(data_file_path):
  return pd.read_csv(data_file_path)

In [0]:
# Step 1: Load Data
# The daily number of cases and deaths nationwide, by states and county, including U.S. territories and the District of Columbia
covid19_nyt_county_df = read_file(nyt_covid19_county_data_file_path)

In [0]:
# Debug
# Check data types to convert
# covid19_nyt_county_df.info()
# We see that lot of places data need to changed
# Date is in object type, fips is in float type

In [0]:
# Debug
# Check to see latest data
# us_county_data_df.sort_values('date', ascending = False).head() 
# Get a feel of data to figure out changes we need to make
# us_county_data_df.head()
# We may not need to print every county, but in case we need to debug
# [county for county in sorted(us_county_data_df['county'].unique())]
# print(f"total number of counties represented in this dataset: {len(us_county_data_df['county'].unique())}.")
# print(f"total number of Null FIPS represented in this dataset: {us_county_data_df['fips'].isnull().sum()}.")
# us_county_data_df.query('fips.isnull()', engine = 'python')
# We now know that lot of COunty values are coded as UNKNOWN
# We see that NYT dataset does not have County assigned to each rows. How to handle with UNKNOWN depneds on analysis we will be doing

### Data Clean-up

In [0]:
# Step 2 Clean-up
# need to change datatype for date columns
covid19_nyt_county_df['date'] = pd.to_datetime(covid19_nyt_county_df['date'])

covid19_nyt_county_df['county'] = covid19_nyt_county_df['county'].str.replace(' city', '')
covid19_nyt_county_df['county'] = covid19_nyt_county_df['county'].str.replace('Larue', 'LaRue')
covid19_nyt_county_df['county'] = covid19_nyt_county_df['county'].str.replace('Juneau City and Borough', 'Juneau')
covid19_nyt_county_df['county'] = covid19_nyt_county_df['county'].str.replace('New York City', 'New York')
covid19_nyt_county_df['county'] = np.where((covid19_nyt_county_df['fips'] == 24510),'Baltimore City', covid19_nyt_county_df['county'])
covid19_nyt_county_df['county'] = covid19_nyt_county_df['county'].str.replace('Sitka City and Borough', 'Sitka')
# Interestingly NYT dataset is missing FIPS code for New York City
covid19_nyt_county_df['fips'] = np.where((covid19_nyt_county_df['county'] == 'New York'), 36061, covid19_nyt_county_df['fips'])
print("\n==================================== Covid-19 NYT County Dataset =================================")
covid19_nyt_county_df.info()

==================================== Covid-19 NYT County Dataset =================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224666 entries, 0 to 224665
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    224666 non-null  datetime64[ns]
 1   county  224666 non-null  object
 2   state   224666 non-null  object
 3   fips    222381 non-null  float64
 4   cases   224666 non-null  int64
 5   deaths  224666 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 10.3+ MB

### Enrich Data

In [0]:
# Enrich NYT data with our Demographic Datasets
%run 'get_demographic_data.ipynb'

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (7,9,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,129,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,157,159,161,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,181,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,223,224,225,227,228,229,230,231,232,233,234,235,237,239,241,243,245,247,251,253,255,256,257,258,259,260,261,262,263,265,267,269,271,273,275,277,279,281,283,284,285,286,287,288,289,290,291,293,295,296,297,298,299,300,301,302,303,304,307,309,311,312,313,314,315,317,319,320,321,322,323,324,325,326,327,329,331,333,335,337,339,341,343,347,349,351,353,355,357) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

============================== race_ethnicity_county_df: Cleaned Race Ethnicity dataset ===========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3273 entries, 1 to 3273
Data columns (total 12 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   fips                                       3272 non-null   float64
 1   geo_name                                   3273 non-null   object
 2   hispanic_latino_any_race_PE                3273 non-null   float64
 3   non_hispanic_latino_any_race_PE            3273 non-null   float64
 4   white_alone_PE                             3273 non-null   float64
 5   black_african_american_alone_PE            3273 non-null   float64
 6   american_indian_alaska_native_alone_PE     3273 non-null   float64
 7   asian_alone_PE                             3273 non-null   float64
 8   native_hawaiian_pacific_islander_alone_PE  3273 non-null   float64
 9   some_other_race_alone_PE                   3273 non-null   float64
 10  two_or_more_races_PE                       3273 non-null   float64
 11  state                                      3273 non-null   object
dtypes: float64(10), object(2)
memory usage: 307.0+ KB

 ============= First 52 rows contains data for US States, and last row contains data about whole US ============

============================== county_cbsa_full_df: Full CBSA and County dataset w/ FIPS and Population ===========================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3234 entries, 0 to 3233
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   county      3234 non-null   object
 1   state       3234 non-null   object
 2   population  3234 non-null   int64
 3   cbsa        1874 non-null   object
 4   cbsa_type   1874 non-null   object
 5   fips        3234 non-null   int64
dtypes: int64(2), object(4)
memory usage: 176.9+ KB

============================== state_full_df: Full State dataset w/ Population and FIPS ===========================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 0 to 56
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       57 non-null     object
 1   population  57 non-null     int64
 2   state_code  57 non-null     object
 3   fips        57 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.2+ KB

============================== cbsa_full_df: Full CBSA dataset w/ Population ===========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 854 entries, 0 to 853
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cbsa        854 non-null    object
 1   population  854 non-null    int64
dtypes: int64(1), object(1)
memory usage: 13.5+ KB

============================== county_cbsa_demographic_df: CBSA County Level Demographic Dataset ===========================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3220 entries, 0 to 3219
Data columns (total 16 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   fips                                       3220 non-null   float64
 1   geo_name                                   3220 non-null   object
 2   hispanic_latino_any_race_PE                3220 non-null   float64
 3   non_hispanic_latino_any_race_PE            3220 non-null   float64
 4   white_alone_PE                             3220 non-null   float64
 5   black_african_american_alone_PE            3220 non-null   float64
 6   american_indian_alaska_native_alone_PE     3220 non-null   float64
 7   asian_alone_PE                             3220 non-null   float64
 8   native_hawaiian_pacific_islander_alone_PE  3220 non-null   float64
 9   some_other_race_alone_PE                   3220 non-null   float64
 10  two_or_more_races_PE                       3220 non-null   float64
 11  state                                      3220 non-null   object
 12  county                                     3220 non-null   object
 13  population                                 3220 non-null   int64
 14  cbsa                                       1874 non-null   object
 15  cbsa_type                                  1874 non-null   object
dtypes: float64(10), int64(1), object(5)
memory usage: 427.7+ KB

============================== state_demographic_df: State Level Demographic Dataset ===========================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 0 to 51
Data columns (total 14 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   state                                      52 non-null     object
 1   population                                 52 non-null     int64
 2   state_code                                 52 non-null     object
 3   fips                                       52 non-null     int64
 4   geo_name                                   52 non-null     object
 5   hispanic_latino_any_race_PE                52 non-null     float64
 6   non_hispanic_latino_any_race_PE            52 non-null     float64
 7   white_alone_PE                             52 non-null     float64
 8   black_african_american_alone_PE            52 non-null     float64
 9   american_indian_alaska_native_alone_PE     52 non-null     float64
 10  asian_alone_PE                             52 non-null     float64
 11  native_hawaiian_pacific_islander_alone_PE  52 non-null     float64
 12  some_other_race_alone_PE                   52 non-null     float64
 13  two_or_more_races_PE                       52 non-null     float64
dtypes: float64(9), int64(2), object(3)
memory usage: 6.1+ KB

============================== cbsa_demographic_df: SBSA Level Demographic Dataset ===========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 875 entries, 0 to 874
Data columns (total 12 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   cbsa                                       875 non-null    object
 1   cbsa_type                                  875 non-null    object
 2   population                                 875 non-null    int64
 3   hispanic_latino_any_race_PE                875 non-null    float64
 4   white_alone_PE                             875 non-null    float64
 5   black_african_american_alone_PE            875 non-null    float64
 6   american_indian_alaska_native_alone_PE     875 non-null    float64
 7   asian_alone_PE                             875 non-null    float64
 8   native_hawaiian_pacific_islander_alone_PE  875 non-null    float64
 9   some_other_race_alone_PE                   875 non-null    float64
 10  two_or_more_races_PE                       875 non-null    float64
 11  total                                      875 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 82.2+ KB

In [0]:
def calc_death_rate(df):
  df['deaths_per_100k'] = round(df['deaths'] * 100000 / df['population'])
  df['cases_per_100k'] = round(df['cases'] * 100000 / df['population'])
  return df

In [0]:
covid19_demographic_state_df = covid19_nyt_county_df.groupby(
    ['state', 'date']
  ).sum().reset_index().drop(
      'fips', 
      axis = 1
  ).merge(
      state_demographic_df, 
      on = 'state')
  
covid19_demographic_state_df = calc_death_rate(covid19_demographic_state_df)
print("\n==================================== covid19_demographic_state_df: Covid-19 State Dataset w/ Demographics =================================")
covid19_demographic_state_df.info()

==================================== covid19_demographic_state_df: Covid-19 State Dataset w/ Demographics =================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5262 entries, 0 to 5261
Data columns (total 19 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   state                                      5262 non-null   object
 1   date                                       5262 non-null   datetime64[ns]
 2   cases                                      5262 non-null   int64
 3   deaths                                     5262 non-null   int64
 4   population                                 5262 non-null   int64
 5   state_code                                 5262 non-null   object
 6   fips                                       5262 non-null   int64
 7   geo_name                                   5262 non-null   object
 8   hispanic_latino_any_race_PE                5262 non-null   float64
 9   non_hispanic_latino_any_race_PE            5262 non-null   float64
 10  white_alone_PE                             5262 non-null   float64
 11  black_african_american_alone_PE            5262 non-null   float64
 12  american_indian_alaska_native_alone_PE     5262 non-null   float64
 13  asian_alone_PE                             5262 non-null   float64
 14  native_hawaiian_pacific_islander_alone_PE  5262 non-null   float64
 15  some_other_race_alone_PE                   5262 non-null   float64
 16  two_or_more_races_PE                       5262 non-null   float64
 17  deaths_per_100k                            5262 non-null   float64
 18  cases_per_100k                             5262 non-null   float64
dtypes: datetime64[ns](1), float64(11), int64(4), object(3)
memory usage: 822.2+ KB

In [0]:
# Get MSA level data from NYT dataset by 1. merging with county CBSA dataset and then grouping on CBSA
covid19_demographic_county_cbsa_df = covid19_nyt_county_df.merge(
    county_cbsa_demographic_df, 
    on = 'fips'
  ).drop(
      ['county_y', 'state_y'], 
      axis = 1
  ).rename(
      {'county_x': 'county', 'state_x': 'state'}, 
      axis = 1)
  
covid19_demographic_county_cbsa_df = calc_death_rate(covid19_demographic_county_cbsa_df)
print("\n==================================== covid19_demographic_county_cbsa_df: Covid-19 CBSA County Dataset w/ Demographics =================================")
covid19_demographic_county_cbsa_df.info()

==================================== covid19_demographic_county_cbsa_df: Covid-19 CBSA County Dataset w/ Demographics =================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 222381 entries, 0 to 222380
Data columns (total 21 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   date                                       222381 non-null  datetime64[ns]
 1   county                                     222381 non-null  object
 2   state                                      222381 non-null  object
 3   fips                                       222381 non-null  float64
 4   cases                                      222381 non-null  int64
 5   deaths                                     222381 non-null  int64
 6   geo_name                                   222381 non-null  object
 7   hispanic_latino_any_race_PE                222381 non-null  float64
 8   non_hispanic_latino_any_race_PE            222381 non-null  float64
 9   white_alone_PE                             222381 non-null  float64
 10  black_african_american_alone_PE            222381 non-null  float64
 11  american_indian_alaska_native_alone_PE     222381 non-null  float64
 12  asian_alone_PE                             222381 non-null  float64
 13  native_hawaiian_pacific_islander_alone_PE  222381 non-null  float64
 14  some_other_race_alone_PE                   222381 non-null  float64
 15  two_or_more_races_PE                       222381 non-null  float64
 16  population                                 222381 non-null  int64
 17  cbsa                                       144014 non-null  object
 18  cbsa_type                                  144014 non-null  object
 19  deaths_per_100k                            222381 non-null  float64
 20  cases_per_100k                             222381 non-null  float64
dtypes: datetime64[ns](1), float64(12), int64(3), object(5)
memory usage: 37.3+ MB

In [0]:
covid19_demographic_cbsa_df = covid19_demographic_county_cbsa_df.groupby(
    ['cbsa', 'date', 'cbsa_type']
  ).sum()[['cases', 'deaths']].reset_index().merge(
      cbsa_demographic_df, 
      on = ['cbsa', 'cbsa_type'])
  
covid19_demographic_cbsa_df = calc_death_rate(covid19_demographic_cbsa_df)
print("\n==================================== covid19_demographic_cbsa_df: Covid-19 CBSA Only Dataset w/ Demographics =================================")
covid19_demographic_cbsa_df.info()

==================================== covid19_demographic_cbsa_df: Covid-19 CBSA Only Dataset w/ Demographics =================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 71799 entries, 0 to 71798
Data columns (total 17 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   cbsa                                       71799 non-null  object
 1   date                                       71799 non-null  datetime64[ns]
 2   cbsa_type                                  71799 non-null  object
 3   cases                                      71799 non-null  int64
 4   deaths                                     71799 non-null  int64
 5   population                                 71799 non-null  int64
 6   hispanic_latino_any_race_PE                71799 non-null  float64
 7   white_alone_PE                             71799 non-null  float64
 8   black_african_american_alone_PE            71799 non-null  float64
 9   american_indian_alaska_native_alone_PE     71799 non-null  float64
 10  asian_alone_PE                             71799 non-null  float64
 11  native_hawaiian_pacific_islander_alone_PE  71799 non-null  float64
 12  some_other_race_alone_PE                   71799 non-null  float64
 13  two_or_more_races_PE                       71799 non-null  float64
 14  total                                      71799 non-null  float64
 15  deaths_per_100k                            71799 non-null  float64
 16  cases_per_100k                             71799 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(3), object(2)
memory usage: 9.9+ MB

## Download The Atlantic (COVID Tracking Project) Dataset for Deaths by Race/ Ethnicity

In [0]:
atlantic_url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vR_xmYt4ACPDZCDJcY12kCiMiH0ODyx3E1ZvgOHB8ae1tRcjXbs_yWBOA4j4uoCEADVfC1PS2jYO68B/pub?gid=43720681&single=true&output=csv" #@param {type:"raw"}

In [0]:
# Read data from The Atlantic
covid19_atlantic_race_death_state_df = read_file(atlantic_url)

In [0]:
# print("\n============ covid19_atlantic_race_death_state_df: Covid-19 Atlantic Dataset with Race/Entnicity Case and Deaths ===========")
# Let's examine what this dataset includes
# covid19_atlantic_race_death_state_df.info()
# It has 56 entries likely for each state plus some union territories 
# print(covid19_atlantic_race_death_state_df.head())
#  We also see that they are updating data daily

In [0]:
# Fix Datetime Column Datatype
covid19_atlantic_race_death_state_df['Date'] = pd.to_datetime(
    covid19_atlantic_race_death_state_df['Date'], 
    format = "%Y%m%d", 
    errors = 'coerce')
# covid19_atlantic_race_death_state_df.head()

In [0]:
# Enrich this dataset with FIPS codes and State Name along with Other Demographics.
# We have that info in already curated covid19_demographic_state_df dataset

# covid19_nyt_county_df.query('state == "Guam"')
# state_full_df # NMI - 69 AS - 60 GU - 66
# covid19_nyt_county_df.query('state == "Northern Mariana Islands" and date == "2020-06-07"')
# covid19_nyt_county_df.query('county == "Unknown" and date == "2020-06-07"')

# race enthnity data from US Census doe snot have any records for NMI and Guam
# race_ethnicity_county_df.query('geo_name.str.contains("Northern Mariana Islands")', engine =  'python')

In [0]:
racial_analysis_df = covid19_atlantic_race_death_state_df.merge(
    covid19_demographic_state_df, 
    left_on = ['Date', 'State'], 
    right_on = ['date', 'state_code']
  ).drop(
      ['State', 'Date', 'geo_name'], 
      axis = 1)
  
print("\n============ racial_analysis_df: Covid-19 Atlantic Dataset with Enriched Race/Entnicity Case and Deaths ===========")
racial_analysis_df.info()

============ racial_analysis_df: Covid-19 Atlantic Dataset with Enriched Race/Entnicity Case and Deaths ===========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 0 to 51
Data columns (total 44 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Cases_Total                                52 non-null     float64
 1   Cases_White                                47 non-null     float64
 2   Cases_Black                                47 non-null     float64
 3   Cases_LatinX                               20 non-null     float64
 4   Cases_Asian                                42 non-null     float64
 5   Cases_AIAN                                 28 non-null     float64
 6   Cases_NHPI                                 18 non-null     float64
 7   Cases_Multiracial                          13 non-null     float64
 8   Cases_Other                                45 non-null     float64
 9   Cases_Unknown                              51 non-null     float64
 10  Cases_Ethnicity_Hispanic                   45 non-null     float64
 11  Cases_Ethnicity_NonHispanic                45 non-null     float64
 12  Cases_Ethnicity_Unknown                    46 non-null     float64
 13  Deaths_Total                               52 non-null     float64
 14  Deaths_White                               44 non-null     float64
 15  Deaths_Black                               42 non-null     float64
 16  Deaths_LatinX                              20 non-null     float64
 17  Deaths_Asian                               37 non-null     float64
 18  Deaths_AIAN                                18 non-null     float64
 19  Deaths_NHPI                                11 non-null     float64
 20  Deaths_Multiracial                         11 non-null     float64
 21  Deaths_Other                               40 non-null     float64
 22  Deaths_Unknown                             49 non-null     float64
 23  Deaths_Ethnicity_Hispanic                  43 non-null     float64
 24  Deaths_Ethnicity_NonHispanic               43 non-null     float64
 25  Deaths_Ethnicity_Unknown                   43 non-null     float64
 26  state                                      52 non-null     object
 27  date                                       52 non-null     datetime64[ns]
 28  cases                                      52 non-null     int64
 29  deaths                                     52 non-null     int64
 30  population                                 52 non-null     int64
 31  state_code                                 52 non-null     object
 32  fips                                       52 non-null     int64
 33  hispanic_latino_any_race_PE                52 non-null     float64
 34  non_hispanic_latino_any_race_PE            52 non-null     float64
 35  white_alone_PE                             52 non-null     float64
 36  black_african_american_alone_PE            52 non-null     float64
 37  american_indian_alaska_native_alone_PE     52 non-null     float64
 38  asian_alone_PE                             52 non-null     float64
 39  native_hawaiian_pacific_islander_alone_PE  52 non-null     float64
 40  some_other_race_alone_PE                   52 non-null     float64
 41  two_or_more_races_PE                       52 non-null     float64
 42  deaths_per_100k                            52 non-null     float64
 43  cases_per_100k                             52 non-null     float64
dtypes: datetime64[ns](1), float64(37), int64(4), object(2)
memory usage: 18.3+ KB

In [0]:
# racial_analysis_df.head()

   Cases_Total  Cases_White  ...  deaths_per_100k  cases_per_100k
0        593.0        349.0  ...              1.0            87.0
1      21989.0       7967.0  ...             15.0           448.0
2      10368.0       4973.0  ...              5.0           344.0
3      29852.0       5978.0  ...             15.0           412.0
4     136191.0      18064.0  ...             12.0           355.0

[5 rows x 44 columns]

In [0]:

# df = analysis_df.query('Deaths_Total >= 20') \
#   .melt(id_vars = 'state', 
#         value_vars = ['black_african_american_alone_PE', 'black_death_pct'], var_name = 'percentage_type', value_name = 'percentage')

# alt.Chart(analysis_df).mark_bar().encode(x = '')

In [0]:
# analysis_df[['Cases_Total', 'cases']].astype(int) # for most part tehy seems to match with sligh variation 
# analysis_df[['Deaths_Total', 'deaths']].astype(int) # for most part tehy seems to match with slight variation 
# analysis_df[['Cases_Total', 'cases']].astype(int) # for most part tehy seems to match with slight variation 
# For the purpsoe of this analysis we are going to use Atlantic's numbers

In [0]:
# Let's focus on impact on Hispanic and Non hispanic Entnicity 
# case_ethnicity_cols = ['date','state','fips','Cases_Total', 'cases','Cases_Ethnicity_Hispanic', 'Cases_Ethnicity_NonHispanic', 'Cases_Ethnicity_Unknown', 'population', 'hispanic_latino_any_race_PE', 'non_hispanic_latino_any_race_PE'] 
# death_ethnicity_cols = ['date','state','fips','Deaths_Total', 'deaths', 'Deaths_Ethnicity_Hispanic', 'Deaths_Ethnicity_NonHispanic', 'Deaths_Ethnicity_Unknown', 'population', 'hispanic_latino_any_race_PE', 'non_hispanic_latino_any_race_PE'] 
# analysis_case_ethnicity_df = analysis_df[case_ethnicity_cols]
# analysis_death_ethnicity_df = analysis_df[death_ethnicity_cols]